<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @card.category %>
</p>

<p>
  <strong>Hint1:</strong>
  <%= @card.hint1 %>
</p>

<p>
  <strong>Hint2:</strong>
  <%= @card.hint2 %>
</p>

<p>
  <strong>Hint3:</strong>
  <%= @card.hint3 %>
</p>

<p>
  <strong>Hint4:</strong>
  <%= @card.hint4 %>
</p>

<p>
  <strong>Hint5:</strong>
  <%= @card.hint5 %>
</p>

<p>
  <strong>Hint6:</strong>
  <%= @card.hint6 %>
</p>

<p>
  <strong>Hint7:</strong>
  <%= @card.hint7 %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
